{% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/about-bg.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    Welcome to Task Manager, your simple and powerful task management solution. Whether you're organizing
                    daily to-dos, managing team projects, or setting long-term goals, TaskFlow helps you stay focused
                    and in control. With intuitive tools for creating, prioritizing, and tracking tasks, we make
                    productivity seamless. Built for individuals and teams alike, TaskFlow turns chaos into clarity—one
                    task at a time.
                </p>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
